<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DTCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DTUIKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>iOS7SwiftCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B605616E1BBBBE2C0094C8B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6354BB71BAFDEF000412F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6354BCE1BAFDEF000412F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6354BD91BAFDEF000412F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6F4EF481BBBBF1C009343C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
